@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Deseret Movies</h1>
    <img src="~/images/film.jpg" alt="film" width="80%" height="50%"/>
</div>
